{% extends 'clients/base.html' %}
{% block content %}
    <div class="col-4 ">
        <a class="p-2 btn btn-outline-dark mb-5" href="{{ request.META.HTTP_REFERER }}">Назад</a>
    </div>
    <div class="col-4 ">
        <div class="card mb-2 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Данные по рассылкам и клиентам</h4>
            </div>
            <div class="card-body">
                <h6 class="card-title pricing-card-title">{{ object.body }}</h6>
                <h6 class="card-title pricing-card-title">Количество клиентов: {{ num_client }}</h6>
                <h6 class="card-title pricing-card-title">Общее количество рассылок: {{ num_letters }}</h6>
                <h6 class="card-title pricing-card-title">Созданные рассылки: {{ num_letter_create }}</h6>
                <h6 class="card-title pricing-card-title">Запущенные рассылки: {{ num_letter_started }}</h6>
            </div>
        </div>
    </div>
{% endblock %}