{% extends 'clients/base.html' %}
{% block content %}
    <div class="col-1 ">
        <a class="p-2 btn btn-outline-dark mb-5" href="{{ request.META.HTTP_REFERER }}">Назад</a>
    </div>
    <div class="col-12">
        <form action="{% url 'clients:confirm' %}" method="post">
            {% csrf_token %}
            <label for="confirm_code">
                Введите код
                <input type="text" name="code_user" id="confirm_code">
            </label>
            <div>
                <h1>{{ error }}</h1>
            </div>
            <button type="submit">Подтвердить</button>
        </form>
    </div>
{% endblock %}
